0x13-more_singly_linked_lists/0-main.c
0x13-more_singly_linked_lists/2-main.c
0x13-more_singly_linked_lists/c.exe
0x13-more_singly_linked_lists/3-main.c
0x13-more_singly_linked_lists/4-main.c
0x13-more_singly_linked_lists/e.exe
0x13-more_singly_linked_lists/5-main.c
0x13-more_singly_linked_lists/6-main.c
0x13-more_singly_linked_lists/g.exe
0x13-more_singly_linked_lists/l.exe
0x13-more_singly_linked_lists/100-main.c
0x13-more_singly_linked_lists/1100-reverse_listint.c
0x14-bit_manipulation/0-main.c
0x14-bit_manipulation/a.exe
0x14-bit_manipulation/1-main.c
0x14-bit_manipulation/_putchar.c
0x14-bit_manipulation/b.exe
